@page
@model IndexModel
@using VehicleRental.Models
@{
    ViewData["Title"] = "Home page";
}


<div>
    <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#createModal">Add</button>
</div>

<div style="padding: 1rem 5rem 5rem 0; display: flex; flex-direction:column; gap: 1.5rem">
    @foreach (var product in Model.Products) {
        <div class="card" style="width: 100%;">
            <form method="post" id="delete-form"></form>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => product.ProductName)</h5>
                <p class="card-text">Product Type: @Html.DisplayFor(modelItem => product.ProductType)</p>
                <p class="card-text">Price: @Html.DisplayFor(modelItem => product.Price) лв.</p>
            </div>
            <div style="display: flex;">
                <button style="width:100%" type="submit" class="btn btn-dark" asp-page-handler="delete" asp-route-id="@product.ID" form="delete-form">Remove</button>
                <button style="width:100%" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">Update</button>
            </div>
        </div>
    }
</div>



<!--------------------------- CREATE MODAL --------------------------->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">Create Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--- Product Name Input --->
            <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label">Product Name</label>
                <input asp-for="Product.ProductName" class="form-control" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>

            <!--- Product Type Select --->
            <div class="form-group">
                <label asp-for="Product.ProductType" class="control-label">Product Type</label>
                <select asp-for="Product.ProductType" class="form-select" asp-items="@Html.GetEnumSelectList<ProductType>()"></select>
                <span asp-validation-for="Product.ProductType" class="text-danger"></span>
            </div>

            <!--- Product Name Input --->
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label">Product Price</label>
                <input asp-for="Product.Price" class="form-control" type="number" min="0" max="10000" step="0.25" value="0.00" id="inputProductPrice" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Create" asp-page-handler="Create" form="create-form">
      </div>
    </div>
  </div>
</div>
<!--------------------------- CREATE MODAL --------------------------->



<!--------------------------- UPDATE MODAL --------------------------->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Create Product</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="update-form">
            
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Create" asp-page-handler="Create" form="update-form">
      </div>
    </div>
  </div>
</div>
<!--------------------------- UPDATE MODAL --------------------------->


<script src="~/js/product/productIndex.js" asp-append-version="true"></script>